<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Голосование ГСК "Факел"</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
</head>
<body>
    <h1>Голосование за повышение взносов</h1>

    <!-- Форма для голосования -->
    <form id="voteForm" method="POST" action="/vote">
        <label for="garage">Выберите гараж:</label>
        <select name="garage" id="garage" required>
            {% for garage in garages %}
                {% if garage not in voted_garages %}
                    <option value="{{ garage }}">
                        {{ garage }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>

        <label for="phone">Номер телефона:</label>
        <input type="text" id="phone" name="phone" class="mask-phone form-control" placeholder="Номер телефона" required>

        <label for="surname">Фамилия:</label>
        <input type="text" id="surname" name="surname" required>

        <label>Ваш голос за повышение:</label>
        <div class="radio-group">
            <input type="radio" id="vote_600" name="vote" value="600" required>
            <label for="vote_600">На 600 руб</label>

            <input type="radio" id="vote_1200" name="vote" value="1200">
            <label for="vote_1200">На 1200 руб</label>

            <input type="radio" id="vote_no" name="vote" value="no">
            <label for="vote_no">Против</label>
        </div>




        <br><button type="submit">Проголосовать</button>
    </form>

    <div id="vote_info_base">
        <u>Правила голосования.</u><br>
        1 гараж = 1 голос. <br>
        Указывается номер, привязанный к гаражу. <br>
        Кто имеет долг до 2023 не допускается. <br>
    </div>

    <div id="vote_info">
        Проголосовали "Поднять на 600 руб": {{ vote_counts['600'] }} <br>
        Проголосовали "Поднять на 1200 руб": {{ vote_counts['1200'] }} <br>
        Проголосовали "Против": {{ vote_counts['no'] }} <br>
        Не проголосовали: {{ vote_counts['not_voted'] }} <br>
        Всего гаражей: {{ vote_counts['total'] }}
    </div>


    <h2>Детализация голосов</h2>
    <div id="vote_table_body">
        <table>
            <thead>
                <tr>
                    <th>Гараж</th>
                    <th>Фамилия</th>
                    <th>Голос</th>
                </tr>
            </thead>
            <tbody>
                {% for garage, vote in votes.items() %}
                <tr>
                    <td>{{ garage }}</td>
                    <td>{{ vote.surname if vote }}</td>
                    <td>
                        {% if vote %}
                            {% if vote.vote == '600' %}
                                За повышение на 600 руб
                            {% elif vote.vote == '1200' %}
                                За повышение на 1200 руб
                            {% else %}
                                Против
                            {% endif %}
                        {% else %}
                            Не голосовал
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function updateVotes() {
            $.get('/get_votes', function(data) {
                const voteInfo = document.getElementById('vote_info');
                const voteTableBody = document.querySelector('#vote_table_body tbody');

                // Проверка на существование данных
                if (data && data.vote_counts) {
                    const voteCounts = data.vote_counts;

                    // Защита от возможных ошибок, если свойства отсутствуют
                    voteInfo.innerHTML = `
                        Проголосовали за повышение на 600 руб: ${voteCounts['600'] || 0} <br>
                        Проголосовали за повышение на 1200 руб: ${voteCounts['1200'] || 0} <br>
                        Проголосовали "Против": ${voteCounts['no'] || 0} <br>
                        Не проголосовали: ${voteCounts['not_voted'] || 0} <br>
                        Всего гаражей: ${voteCounts['total'] || 0}
                    `;

                }

                // Обновляем таблицу голосов
                if (data && data.votes) {
                    let tableContent = '';
                    for (const [garage, vote] of Object.entries(data.votes)) {
                        tableContent += `
                            <tr>
                                <td>${garage}</td>
                                <td>${vote ? vote.surname : ''}</td>
                                <td>${
                                    vote
                                        ? vote.vote === '600'
                                            ? 'За повышение на 600 руб'
                                            : vote.vote === '1200'
                                            ? 'За повышение на 1200 руб'
                                            : 'Против'
                                        : 'Не голосовал'
                                }</td>
                            </tr>
                        `;
                    }
                    voteTableBody.innerHTML = tableContent;
                }
            });
        }

        setInterval(updateVotes, 5000);

        // Инициализация маски для номера телефона
        $.mask.definitions['h'] = "[0|1|3|4|5|6|7|9]";
        $(".mask-phone").mask("+7 (h99) 999-99-99");

        $('#phone').on('input', function () {
            var phoneValue = $(this).val();
            var cleanValue = phoneValue.replace(/\D/g, '');
            $(this).val(cleanValue);
        });

        // Ограничение ввода только букв в поле фамилии
        $('#surname').on('input', function () {
            var value = $(this).val();
            var cleanValue = value.replace(/[^a-zA-Zа-яА-ЯёЁ\s]/g, '');
            $(this).val(cleanValue);
        });
    </script>
</body>
</html>
